<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Potwierdzenie nadania!</title>
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="scripts/jquery-3.5.1.min.js"></script>
  <script>window.$ = window.jQuery = require('./scripts/jquery-3.5.1.min.js');</script>
  <script src="scripts/bootstrap.bundle.min.js"></script>
  <script src="scripts/renderer.js"></script>
  <script src="scripts/senders-renderer.js"></script>
</head>

<body class="container-fluid">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="generator-nav-link" onclick="navigateToPage('generator')">Generator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" id="sender-nav-link" href="#" onclick="navigateToPage('senders')">Nadawcy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="preferences-nav-link" href="#" onclick="navigateToPage('preferences')">Preferencje</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="generator-page" class="container-fluid">
    <p>Wybór nadawcy</p>
    <table class="table">
      <thead>
        <tr>
          <td>Dane</td>
          <td>Akcje</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Grzegorz Jarzyna</td>
          <td>
            <button class="btn btn-secondary">Wybierz</button>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="border border-primary border-3 text-center p-3">
      <p>Pzeciągnij jeden lub wiele plików (dowolne miejsce na ekranie) albo wybierz klikając guzik</p>

      <ul id="generator-file-list">

      </ul>

      <button class="btn btn-primary mt-5" onclick="onProcessSingleFileClick()">Wczytaj plik</button>
    </div>

  </div>

  <div id="senders-page" class="container-fluid">
    <h2>Dodaj nadawcę</h2>
    <div class="mb-3">
      <label for="add-sender-name" class="form-label">Nazwa</label>
      <input type="email" class="form-control" id="add-sender-name">
    </div>
    <div class="mb-3">
      <label for="add-sender-address" class="form-label">Adres</label>
      <textarea class="form-control" id="add-sender-address" rows="6"></textarea>
    </div>
    <button class="btn btn-success" onclick="onSaveSenderClick()">Zapisz</button>
    <span class="mt-2"></span>

    <h2>Obecni nadawcy</h2>
    <table class="table">
      <thead>
        <tr>
          <td>Nazwa</td>
          <td>Adres</td>
          <td>Akcje</td>
        </tr>
      </thead>
      <tbody id="sender-table-body">
      </tbody>

    </table>
  </div>

  <div id="preferences-page" class="container-fluid">
    <p>Preferencje użytkownika</p>
  </div>


</body>

</html>