<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Potwierdzenie nadania!</title>
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/bootstrap.min.css">

  <script src="scripts/external/jquery-3.5.1.min.js"></script>
  <script>window.$ = window.jQuery = require('./scripts/external/jquery-3.5.1.min.js');</script>
  <script src="scripts/external/bootstrap.bundle.min.js"></script>

  <script src="scripts/common-renderer.js"></script>
  <script src="scripts/generator-renderer.js"></script>
  <script src="scripts/senders-renderer.js"></script>
  <script src="scripts/preferences-renderer.js"></script>
  <script src="scripts/recipients-renderer.js"></script>

  <script src="scripts/recipients-modal.js"></script>
  <script src="scripts/single-recipient-modal.js"></script>

</head>

<body class="container-fluid">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="generator-nav-link" onclick="navigateToPage('generator')">Generator</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" id="sender-nav-link" href="#" onclick="navigateToPage('senders')">Nadawcy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="recipient-nav-link" href="#" onclick="navigateToPage('recipients')">Odbiorcy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="preferences-nav-link" href="#"
              onclick="navigateToPage('preferences')">Preferencje</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="generator-page" class="container-fluid">
    <div class="form-group">
      <label for="generator-sender-select">Wybierz nadawcę</label>
      <select class="form-control" id="generator-sender-select">
      </select>
    </div>

    <div class="border border-primary border-3 text-center p-3 mt-5">
      <p>Pzeciągnij jeden lub wiele plików (dowolne miejsce na ekranie) albo wybierz klikając guzik</p>

      <ul id="generator-file-list">

      </ul>

      <div class="row mt-5">
        <div class="col">
          <button class="btn btn-primary" onclick="Generator.onProcessSingleFileClick()">Wczytaj plik</button>
        </div>
        <div class="col">
          <button class="btn btn-warning" onclick="Generator.onGenerateWithoutInputFileClick()">Generuj bez
            pliku</button>
        </div>
      </div>

    </div>

    <div class="mt-3" id="generator-summary">

    </div>

  </div>

  <div id="senders-page" class="container-fluid">
    <h2>Dodaj nadawcę</h2>
    <div class="mb-3">
      <label for="add-sender-name" class="form-label">Nazwa</label>
      <input type="email" class="form-control" id="add-sender-name">
    </div>
    <div class="mb-3">
      <label for="add-sender-address" class="form-label">Adres</label>
      <textarea class="form-control" id="add-sender-address" rows="6"></textarea>
    </div>
    <button class="btn btn-success" onclick="Senders.onSaveSenderClick()">Zapisz</button>
    <span class="mt-2"></span>

    <h2>Obecni nadawcy</h2>
    <table class="table">
      <thead>
        <tr>
          <td>Nazwa</td>
          <td>Adres</td>
          <td>Domyślny</td>
          <td>Naklejka</td>
          <td>Akcje</td>
        </tr>
      </thead>
      <tbody id="sender-table-body">
      </tbody>

    </table>
  </div>

  <div id="recipients-page" class="container-fluid">
    <h2>Dodaj odbiorcę</h2>
    <div class="mb-3">
      <label for="add-recipient-name" class="form-label">Nazwa</label>
      <input type="email" class="form-control" id="add-recipient-name">
    </div>
    <div class="mb-3">
      <label for="add-recipient-address" class="form-label">Adres</label>
      <textarea class="form-control" id="add-recipient-address" rows="6"></textarea>
    </div>
    <button class="btn btn-success" onclick="Recipients.onSaveRecipientClick()">Zapisz</button>
    <span class="mt-2"></span>

    <h2>Obecni odbiorcy</h2>
    <table class="table">
      <thead>
        <tr>
          <td>Nazwa</td>
          <td>Adres</td>
          <td>Akcje</td>
        </tr>
      </thead>
      <tbody id="recipients-table-body">
      </tbody>

    </table>
  </div>

  <div id="preferences-page" class="container-fluid">
    <h2>Preferencje użytkownika</h2>
    <p id="senders-file-location"></p>
    <p id="recipients-file-location"></p>
    <p id="confirmations-location"></p>

    <button class="btn btn-primary m-1" onclick="onChangeSendersFilesLocationClick()">Zmień lokalizację pliku z
      nadawcami</button>
    <button class="btn btn-primary m-1" onclick="onChangeRecipientsLocationClick()">Zmień lokalizację pliku z
      odbiorcami</button>
    <button class="btn btn-primary m-1" onclick="onChangeConfirmationsLocationClick()">Zmień lokalizację folderu z
      potwierdzeniami</button>

  </div>

  <!-- Loading Progress Modal -->
  <div class="modal fade" id="loading-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Przetwarzanie w trakcie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            id="close-loading-dialog-button"></button>
        </div>
        <div class="modal-body text-center">
          <p>Okno zamknie się, gdy przetwarzanie zostanie zakończone</p>
          <div class="spinner-border text-primary">
            <span class="sr-only"></span>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- Manually add recipients Modal -->
  <div class="modal fade" id="add-recipients-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addRecipientLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addRecipientLabel">Dodaj odbiorców</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div class="row">
            <div class="col-6">
              <p>Dostępni odbiorcy</p>
              <div id="available-recipients">

              </div>
            </div>
            <div class="col-6">
              <p>Wybrani odbiorcy</p>
              <div id="selected-recipients">

              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" onclick="RecipientsModal.onSaveClick()">Zatwierdź</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Manually add single recipient Modal -->
  <div class="modal fade" id="add-single-recipients-modal" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="addSingleRecipientLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSingleRecipientLabel">Dodaj odbiorcę</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div class="mb-3">
            <label for="add-single-recipient-ta" class="form-label">Adres</label>
            <textarea class="form-control" id="add-single-recipient-ta" rows="6"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" onclick="SingleRecipientModal.onSaveClick()">Zatwierdź</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Manually generate confirmation FileName modal -->
  <div class="modal fade" id="generator-filename-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="manualGenerationLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="manualGenerationLabel">Ręczna generacja - nazwa pliku</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="generator-filename" class="form-label">Nazwa pliku</label>
            <input type="text" onkeyup="Generator.onGeneratorModalFilenameKeyup(event)" class="form-control"
              id="generator-filename" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Nazwa pliku jest potrzebna do generacji nazwy pliku z potwierdzeniem.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" onclick="Generator.onGeneratorFilenameSaveClick()">Zatwierdź</button>
        </div>
      </div>
    </div>
  </div>


</body>

</html>