<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Potwierdzenie nadania!</title>
  <link rel="stylesheet" href="styles/index.css">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="scripts/bootstrap.bundle.min.js"></script>
  <script src="scripts/renderer.js"></script>
</head>

<body class="container-fluid">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Start</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" onclick="onSendersClick()">Nadawcy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Preferencje</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <p>Wybór nadawcy</p>
    <table class="table">
      <thead>
        <tr>
          <td>Dane</td>
          <td>Akcje</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Grzegorz Jarzyna</td>
          <td>
            <button class="btn btn-secondary">Wybierz</button>
          </td>
        </tr>
      </tbody>

    </table>

    <p>Pzeciągnij jeden lub wiele plików albo załaduj klikając guzik</p>
    <button class="btn btn-primary" onclick="onProcessSingleFileClick()">Wczytaj plik</button>
  </div>


</body>

</html>